In [1]:
import pandas as pd
import numpy as np

In [3]:
mydateparser = lambda x: pd.datetime.strptime(x, "%Y-%m-%d %H:%M:%S")
desc_df = pd.read_csv('/Users/psai1/weather_description.csv', header='infer', infer_datetime_format=True, \
                      sep=",", parse_dates=['datetime'], date_parser=mydateparser, index_col ="datetime")

<ipython-input-3-bb4ccf922cb6>:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  mydateparser = lambda x: pd.datetime.strptime(x, "%Y-%m-%d %H:%M:%S")

In [4]:
temper_df = pd.read_csv('/Users/psai1/temperature.csv', header='infer', infer_datetime_format=True, sep="," \
                      , parse_dates=['datetime'], date_parser=mydateparser, index_col ="datetime")
temper_df.dropna(inplace = True)

<ipython-input-3-bb4ccf922cb6>:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  mydateparser = lambda x: pd.datetime.strptime(x, "%Y-%m-%d %H:%M:%S")

In [5]:
#years = tmpdf.datetime.dt.year
#years.head()
#tmpdf.resample('D', on='datetime').Vancouver.max()
#ts = desc_df.datetime[1]
#print(u"{}, {} {} {}".format(ts.day_name(), ts.day,
#                             ts.month_name(),ts.year))

In [6]:
humid_df = pd.read_csv('/Users/psai1/humidity.csv', header='infer', infer_datetime_format=True, sep="," \
                      , parse_dates=['datetime'], date_parser=mydateparser, index_col ="datetime")
humid_df.dropna(inplace = True)

<ipython-input-3-bb4ccf922cb6>:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  mydateparser = lambda x: pd.datetime.strptime(x, "%Y-%m-%d %H:%M:%S")

In [7]:
wind_df = pd.read_csv('/Users/psai1/wind_speed.csv', header='infer', infer_datetime_format=True, sep="," \
                      , parse_dates=['datetime'], date_parser=mydateparser, index_col ="datetime")
wind_df.dropna(inplace = True)
#wind_df.head(5)

<ipython-input-3-bb4ccf922cb6>:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  mydateparser = lambda x: pd.datetime.strptime(x, "%Y-%m-%d %H:%M:%S")

In [8]:
wind_df.sample(3)

,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,Denver,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
datetime,,,,,,,,,,,,,,,,,,,,,
2016-01-27 10:00:00,2.0,1.0,5.0,1.0,1.0,1.0,2.0,1.0,2.0,1.0,...,4.0,3.0,7.0,3.0,2.0,1.0,2.0,1.0,1.0,1.0
2015-03-22 23:00:00,2.0,1.0,4.0,2.0,1.0,2.0,5.0,2.0,2.0,1.0,...,3.0,4.0,7.0,8.0,1.0,1.0,2.0,2.0,2.0,0.0
2012-11-19 20:00:00,2.0,5.0,2.0,4.0,2.0,3.0,8.0,1.0,0.0,9.0,...,4.0,5.0,2.0,3.0,0.0,1.0,3.0,1.0,1.0,1.0

In [9]:
test_wind = wind_df['Denver']
my_hours = test_wind[(test_wind.index.hour >= 5) & (test_wind.index.hour < 22)].loc['2012-10-02'].to_frame()
wind_min = my_hours.min().iloc[0]
my_hours['Variance'] = my_hours['Denver'] - wind_min
my_hours

                     Denver  Variance
datetime
2012-10-02 05:00:00     2.0       2.0
2012-10-02 06:00:00     2.0       2.0
2012-10-02 07:00:00     2.0       2.0
2012-10-02 08:00:00     2.0       2.0
2012-10-02 09:00:00     2.0       2.0
2012-10-02 10:00:00     2.0       2.0
2012-10-02 11:00:00     2.0       2.0
2012-10-02 12:00:00     2.0       2.0
2012-10-02 13:00:00     2.0       2.0
2012-10-02 14:00:00     2.0       2.0
2012-10-02 15:00:00     2.0       2.0
2012-10-02 16:00:00     0.0       0.0
2012-10-02 17:00:00     0.0       0.0
2012-10-02 18:00:00     4.0       4.0
2012-10-02 19:00:00     0.0       0.0
2012-10-02 20:00:00     0.0       0.0
2012-10-02 21:00:00     0.0       0.0

In [10]:
test_temp = temper_df['Denver']
my_temp_hours = test_temp[(test_temp.index.hour >= 5) & (test_temp.index.hour < 22)].loc['2012-10-02'].to_frame()
temp_min = my_temp_hours.min().iloc[0]
my_temp_hours['TempVariance'] = my_temp_hours['Denver'] - temp_min
my_temp_hours

                         Denver  TempVariance
datetime
2012-10-02 05:00:00  284.496490      0.066490
2012-10-02 06:00:00  284.489102      0.059102
2012-10-02 07:00:00  284.481714      0.051714
2012-10-02 08:00:00  284.474326      0.044326
2012-10-02 09:00:00  284.466939      0.036939
2012-10-02 10:00:00  284.459551      0.029551
2012-10-02 11:00:00  284.452163      0.022163
2012-10-02 12:00:00  284.444775      0.014775
2012-10-02 13:00:00  284.437388      0.007388
2012-10-02 14:00:00  284.430000      0.000000
2012-10-02 15:00:00  285.310000      0.880000
2012-10-02 16:00:00  286.450000      2.020000
2012-10-02 17:00:00  287.840000      3.410000
2012-10-02 18:00:00  289.180000      4.750000
2012-10-02 19:00:00  289.770000      5.340000
2012-10-02 20:00:00  290.570000      6.140000
2012-10-02 21:00:00  290.840000      6.410000

In [11]:
my_merged = pd.merge(my_hours, my_temp_hours, how = "inner", left_on = 'datetime', left_index = True, right_on = 'datetime', right_index = True)

In [12]:
my_merged['total_var'] = my_merged['Variance'] + my_merged['TempVariance']
my_merged.resample('2Q').min()

            Denver_x  Variance  Denver_y  TempVariance  total_var
datetime
2012-12-31       0.0       0.0    284.43           0.0        2.0

In [13]:
def my_resample(mydf = humid_df, freq = 'Y', mycity = 'Miami', attr = 'HUMID'):
    #ser = test_col_access(mycol)
    #z = ser.resample('Y').min()
    z = pd.Series(mydf[mycity].resample(freq).min(), name = mycity + '_' + attr + '_MIN')
    if(attr == 'TEMP'):
        #maxi = pd.Series(mydf[mycity].resample(freq).max(), name = mycity + '_' + attr + '_MAX')
        return pd.concat([mydf[mycity].resample(freq).min(), mydf[mycity].resample(freq).max()], axis = 1, \
                        keys = [mycity + '_' + attr + '_MIN', mycity + '_' + attr + '_MAX'])
    dz = pd.DataFrame(z)
    return dz

#my_resample(humid_df, freq = 'Y', mycity = 'Chicago')

In [14]:
def get_filtered_rows(df = humid_df, mycity = 'Miami', start_date = '2017-01-01', end_date = '2025-01-01'):
    end_date = start_date if end_date == '2025-01-01' else end_date
    res = pd.DataFrame(df[(df.index.hour >= 5) & (df.index.hour < 22)][mycity].loc[start_date:end_date])
    return res

In [15]:
def get_city_data(mycity = 'Miami', start_date = '2017-04-01', end_date = '2025-01-01'):
    
    city_humid_hr = get_filtered_rows(df = humid_df, mycity = mycity, start_date = start_date, end_date = end_date)

    city_humid_agg = my_resample(mydf = city_humid_hr, freq = 'D', mycity = mycity, attr = 'HUMID')

    city_wind_hr = get_filtered_rows(df = wind_df, mycity = mycity, start_date = start_date, end_date = end_date)

    city_wind_agg = my_resample(mydf = city_wind_hr, freq = 'D', mycity = mycity, attr = 'WIND')

    city_temp_hr = get_filtered_rows(df = temper_df, mycity = mycity, start_date = start_date, end_date = end_date)

    city_temp_agg = my_resample(mydf = city_temp_hr, freq = 'D', mycity = mycity, attr = 'TEMP')

    city_all_attr_hr = pd.concat([city_humid_hr,city_wind_hr, city_temp_hr], axis = 1)

    city_all_attr_agg = pd.concat([city_humid_agg,city_wind_agg, city_temp_agg], axis = 1)
    city_all_attr_hr['datepart'] = pd.to_datetime(city_all_attr_hr.index.date) 
    city_all_attr_hr.columns.values[[0, 1, 2]] = ['humidity', 'wind', 'temp']
    city_all_df = pd.merge(city_all_attr_hr, city_all_attr_agg, how = 'left', left_on=['datepart'], \
                            right_on=['datetime'], right_index = True).drop('datepart', axis = 1)
    city_all_df['total_var'] = city_all_df['wind'] - city_all_df[mycity+'_WIND_MIN'] + \
    city_all_df['temp'] - city_all_df[mycity+'_TEMP_MIN'] + \
    city_all_df['humidity'] - city_all_df[mycity+'_HUMID_MIN']
    city_all_df['PlayabilityRank'] = city_all_df.groupby(city_all_df.index.date)['total_var'].rank()
    return city_all_df

In [16]:
final_ranked_df = get_city_data(mycity = 'Denver', start_date = '2017-07-01', end_date = '2017-07-03')

In [17]:
#get_city_data()

In [18]:
#get_city_data(mycity = 'Denver', start_date = '2016-07-01', end_date = '2016-07-03')

In [19]:
final_ranked_df[final_ranked_df['PlayabilityRank'] < 3].sort_values(by = ['PlayabilityRank'])

,humidity,wind,temp,Denver_HUMID_MIN,Denver_WIND_MIN,Denver_TEMP_MIN,Denver_TEMP_MAX,total_var,PlayabilityRank
datetime,,,,,,,,,
2017-07-01 20:00:00,15.0,1.0,301.15,15.0,1.0,284.87,302.15,16.28,1.0
2017-07-02 18:00:00,16.0,2.0,303.73,16.0,0.0,290.16,305.30,15.57,1.0
2017-07-03 07:00:00,24.0,3.0,293.10,14.0,1.0,287.86,304.44,17.24,1.0
2017-07-01 19:00:00,16.0,2.0,300.58,15.0,1.0,284.87,302.15,17.71,2.0
2017-07-02 08:00:00,31.0,1.0,290.16,16.0,0.0,290.16,305.30,16.00,2.0
2017-07-03 21:00:00,14.0,3.0,304.44,14.0,1.0,287.86,304.44,18.58,2.0

In [20]:
final_ranked_df.loc['2017-07-01']

,humidity,wind,temp,Denver_HUMID_MIN,Denver_WIND_MIN,Denver_TEMP_MIN,Denver_TEMP_MAX,total_var,PlayabilityRank
datetime,,,,,,,,,
2017-07-01 05:00:00,45.0,1.0,289.71,15.0,1.0,284.87,302.15,34.84,7.0
2017-07-01 06:00:00,51.0,2.0,289.01,15.0,1.0,284.87,302.15,41.14,9.0
2017-07-01 07:00:00,54.0,1.0,287.87,15.0,1.0,284.87,302.15,42.00,11.0
2017-07-01 08:00:00,58.0,1.0,287.60,15.0,1.0,284.87,302.15,45.73,14.0
2017-07-01 09:00:00,62.0,3.0,287.18,15.0,1.0,284.87,302.15,51.31,17.0
2017-07-01 10:00:00,58.0,1.0,286.74,15.0,1.0,284.87,302.15,44.87,13.0
2017-07-01 11:00:00,54.0,2.0,286.02,15.0,1.0,284.87,302.15,41.15,10.0
2017-07-01 12:00:00,62.0,2.0,284.87,15.0,1.0,284.87,302.15,48.00,15.0
2017-07-01 13:00:00,62.0,2.0,285.29,15.0,1.0,284.87,302.15,48.42,16.0
2017-07-01 14:00:00,55.0,1.0,289.12,15.0,1.0,284.87,302.15,44.25,12.0
2017-07-01 15:00:00,45.0,3.0,292.41,15.0,1.0,284.87,302.15,39.54,8.0
2017-07-01 16:00:00,37.0,2.0,294.42,15.0,1.0,284.87,302.15,32.55,6.0
2017-07-01 17:00:00,31.0,1.0,296.99,15.0,1.0,284.87,302.15,28.12,5.0
2017-07-01 18:00:00,21.0,2.0,298.99,15.0,1.0,284.87,302.15,21.12,4.0
2017-07-01 19:00:00,16.0,2.0,300.58,15.0,1.0,284.87,302.15,17.71,2.0
2017-07-01 20:00:00,15.0,1.0,301.15,15.0,1.0,284.87,302.15,16.28,1.0
2017-07-01 21:00:00,15.0,2.0,302.15,15.0,1.0,284.87,302.15,18.28,3.0